- @releases.each do |release|
  %h1
    = release.name
    - if release.accepted_at
      %span.done Done
    - elsif release.deadline
      - if release.deadline < Time.now
        %span.overdue Overdue
      - elsif release.deadline + @project.iteration_length.weeks < release.estimated_finish
        %span.behind Behind Schedule
  %h2
    - if release.deadline
      = "Due #{release.deadline.to_s(:default)}".html_safe
    - if release.accepted_at  
      = " &mdash; Accepted #{release.accepted_at}".html_safe
    - elsif !ENV['HIDE_ESTIMATES']
      = " &mdash; Estimated #{release.estimated_finish}".html_safe
  = RedCloth.new(release.description).to_html.html_safe
