/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.clearfix
  *display:                 inline-block
  &:after
    content:                " "
    display:                block
    height:                 0
    clear:                  both
    visibility:             hidden

body
  width: 960px
  margin-left: auto
  margin-right: auto
  
  font-family: helvetica, arial, sans-serif
  color: #333
  
#header
  h1
    font-size: 36px
    color: #000
    padding-bottom: 5px
    border-bottom: 3px solid #666
    .small
      font-size: 14px

#options
  float: right
  color: #333
  font-weight: bold
  a
    color: #999
    text-decoration: none
    &:hover
      color: #000
      text-decoration: underline!important

#content
  h1
    margin-bottom: 0px
    span
      font-size: 12px
      text-transform: uppercase
      padding: 2px
      position: relative
      top: -4px
      &.done
        background-color: yellow
      &.overdue
        background-color: red
        color: white
      &.behind
        background-color: orange
        color: white
  h2
    color: #ccc
    margin-top: 0px
  .period
    color: #888
    background-color: #eee
    padding: 4px
  .workstream
    float: left
    padding: 4px
    h1
      font-size: 22px
    h2
      font-size: 18px

    
#footer
  margin-top: 40px
  color: #aaa
  text-transform: uppercase